// File: _base.scss

/* Base: contained within this file are all resets, variables, mixins, and any utility classes. */

$body-color: red;

body {
  color: $body-color;

    // Call of images with loader
    /*   background: url('./logoipsum-logo-50.svg');
        background-repeat: no-repeat;
    */
}