// File: _base.scss

/* Base: contained within this file are all resets, variables, mixins, and any component & utility classes. */

// reset elements
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

// variables
:root{
  --color-primary: #000;
  --color-secondary: #ffffff;
  --color-accent: #66b862;
  
  --color-ptos1: #12181b;
  --color-ptos2: #2a2e35;
  --color-ptos3: #6c7983;
  --color-ptos4: #b2becd;
  --color-ptos5: #dbe1e8;
  --color-ptos6: #f8f8f8;
  
  --color-light: #7b7b7b;
  --color-shadow: #1f1f1f;

  --color-ocu-back:  rgba(0, 0, 0, 0.5);

  --std-trans: all .4s ease-in-out;
}

.light-mode{
  --color-primary: #ffffff;
  --color-secondary: #000;
  --color-accent: #297425;
  
  --color-ptos1: #f8f8f8;
  --color-ptos2: #dbe1e8;
  --color-ptos3: #b2becd;
  --color-ptos4: #6c7983;
  --color-ptos5: #2a2e35;
  --color-ptos6: #12181b; 

  --color-light: #dbe1e8;
  --color-shadow: #666666;

  --color-ocu-back:  rgba(254, 254, 254, 0.6);
}

// mixin
@mixin for-phone {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portait {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin control-side {
  @media (min-width: 600px) { @content; }
}

@mixin shadow-effect($set: out, $size: 4px, $radius: 15px) {
  $size2: $size*2;

  @if $set == in {
    box-shadow:  inset $size $size2 $size2 var(--color-shadow),
                inset (-$size) (-$size2) $size2 var(--color-light);
  } @else {
    box-shadow:  $size $size2 $size2 var(--color-shadow),
                (-$size) (-$size2) $size2 var(--color-light);
  }

  border-radius: 15px;
  background: var(--color-primary);
}

// html elements

body {
  background-color: var(--color-primary);
  color: var(--color-ptos5);
  transition: var(--stand-trans);
  font-size: 1rem;
  font-family: 'Telex', sans-serif;
  
}

h1{
  color: var(--color-secondary);
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Josefin Sans', sans-serif;
  @include for-tablet-portait(){
    font-size: 2.3rem;
    line-height: 2.7rem;
  }
  @include for-tablet-landscape() {
    font-size: 2.3rem;
    line-height: 2.7rem;
  }  
  @include for-desktop(){
    font-size: 2.7rem;
    line-height: 3rem;
  }
}

h2{
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
  padding: 2.5rem 0;
  @include for-tablet-portait(){
    font-size: 1.8rem;
  } 
  @include for-tablet-landscape() {
    font-size: 1.8rem;
  }  
  @include for-desktop(){
    font-size: 2.2rem;
  }
}

h3{
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  @include for-tablet-portait(){
    font-size: 1.3rem;
  } 
  @include for-tablet-landscape() {
    font-size: 1.3rem;
  }  
  @include for-desktop(){
    font-size: 1.5rem;
  }
}

p{
  line-height: 1.5rem;
  padding: 0 1rem;
  padding-bottom: 2rem;
  @include for-tablet-portait(){
    font-size: 1.1rem;
  }
  @include for-tablet-landscape() {
    font-size: 1.3rem;
  }
  @include for-desktop(){
    font-size: 1.3rem;
  }
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

