// File: _base.scss

/* Base: contained within this file are all resets, variables, mixins, and any component & utility classes. */

// reset elements
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

// variables
:root{
  --color-primary: #000;
  --color-secondary: #ffffff;
  --color-accent: #66b862;
  
  --color-ptos1: #12181b;
  --color-ptos2: #2a2e35;
  --color-ptos3: #6c7983;
  --color-ptos4: #b2becd;
  --color-ptos5: #dbe1e8;
  --color-ptos6: #f8f8f8;
  
  --color-light: #7b7b7b;
  --color-shadow: #1f1f1f;

  --std-trans: all .4s ease-in-out;
}

.light-mode{
  --color-primary: #ffffff;
  --color-secondary: #000;
  --color-accent: #297425;
  

  --color-ptos1: #f8f8f8;
  --color-ptos2: #dbe1e8;
  --color-ptos3: #b2becd;
  --color-ptos4: #6c7983;
  --color-ptos5: #2a2e35;
  --color-ptos6: #12181b; 

  --color-light: #dbe1e8;
  --color-shadow: #666666;
}

// mixin
@mixin for-phone {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portait {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin control-side {
  @media (min-width: 600px) { @content; }
}

@mixin shadow-effect($set: out, $size: 4px, $radius: 15px) {
  $size2: $size*2;

  @if $set == in {
    box-shadow:  inset $size $size2 $size2 var(--color-shadow),
                inset (-$size) (-$size2) $size2 var(--color-light);
  } @else {
    box-shadow:  $size $size2 $size2 var(--color-shadow),
                (-$size) (-$size2) $size2 var(--color-light);
  }

  border-radius: 15px;
  background: var(--color-primary);
 

}

// component & utility classes
body {
  background-color: var(--color-primary);
  color: var(--color-ptos5);
  transition: var(--stand-trans);
  font-size: 1.1rem;
  font-family: 'Telex', sans-serif;
}

h1{
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
}

h2{
  font-size: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
}


a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}