// File: _components.scss

/* Components: contains anything reusable such as buttons, navbars, cards etc. */

p{
    padding-bottom: 2rem;
    text-align: center;
}


//porfolio project card
.project-item{
    position: relative;
    margin: 0 2rem;

  img{
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 15px;   
  }

    .hover-items{
        width: 100%;
        height: 100%;
        background-color: var(--color-orange);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);
        transition: var(--std-trans);

        h3{
            font-size: 1.5rem;
            color: var(--color-primary);
            margin-bottom: 1.5rem;
        }

        p{
          color: var(--color-primary);
          margin: 0 .5rem;
        }

        .icons{
            display: flex;
            justify-content: center;
            align-items: center;

            .icon{
                background-color: var(--color-primary);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;
                cursor: pointer;
                transition: var(--std-trans);

                i{
                    font-size: 1.5rem;
                    color: var(--color-white);
                    margin: 0 1rem;
                }

                &:hover{
                    background-color: var(--color-white);

                    i{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}

.project-item:hover .hover-items{
  opacity: 1;
  transform: scale(1);
}


// blog-card
.blog-card{
  position: relative;
  
  color: var(--color-primary);
  border-radius: 15px;
  margin: 2rem;
  // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  @include control-btn-style();
  background-color: var(--color-orange);
  transition: var(--std-trans);
  &:hover{
    box-shadow: 1px 1px 20px rgba(0,0,0,.3);
    transform: translateY(-5px);
    transition: var(--stand-trans);
    img{
      filter: grayscale(0);
      object-fit: cover;
      border-radius: 15px;   
      transform: scale(1.07);
      box-shadow: 0px 4px 20px rgba(0,0,0,.8);
    }
  }
  img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: grayscale(75%);
    transition: var(--std-trans);
  }
  .blog-text{
    margin-top: -7px;
    padding: 1.1rem;
    border-top: 8px solid var(--color-secondary);
    h4{
      font-size: 1.5rem;
      margin-bottom: .7rem;
      text-align: center;
      transition: var(--std-trans);
      cursor: pointer;
      &:hover{
        // color: var(--color-primary);
      }

    }
    p{
      color: var(--color-shadow);
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}


// contact section
.contact-content-con{
  display: flex;
  flex-direction: column;
  padding: 0 .5rem 11vh .5rem;
  
  .left-contact{
    flex: 2;
    h4{
      margin-top: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      }
    p{
      margin: 1rem 0;
      line-height: 1.5rem;
    }
    .contact-info{
      .contact-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
          margin: .3rem 0 ;
          padding: 0 ;
        }
        .icon{
          display: grid;
          grid-template-columns: 40px 1fr;
          i{
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }
    .contact-icon{
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      a{
        display: flex;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-grey5);
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 1rem;
        transition: var(--stand-trans);
        &:hover{
          background-color: var(--color-secondary);
          i{
            color: var(--color-primary);
          }
        }
        i{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }
      }
    }
  }


  .right-contact{
    flex: 3;
    margin-left: 0;
    margin-top: 2.5rem;
   
    .input-control{
      margin: 1.5rem 0;
      input, textarea{
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey5);
        width: 100%;
        color: var(--color-white);
        resize: none;

      }
    }
    .i-c-2{
      flex-direction: column;
        :last-child{
            margin-left: 0;
            margin-top: 1.5rem;
        }
    }
    .submit-btn{
      display: flex;
      justify-content: flex-start;
    }
  }
}


// Page control/toggle buttons
.control-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7rem;
  padding: 1rem;
  width: 50px;
  height: 50px;
  @include control-btn-style();
  cursor: pointer;

  i{
    font-size: 1.2rem;
    color: var(--color-orange);
    pointer-events: none;
  }

  @include control-side() {
    margin: .7rem 0;
  }
}

.active-control{
  box-shadow: inset 4px 8px 8px var(--color-shadow),
              inset -4px -8px 8px var(--color-light);
  transition: var(--stand-trans);

  i{
    color: var(--color-orange);
  }
}


// Dark/Light Mode toggle button
.btn-toggle-theme{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  right: 3%;
  width: 45px;
  height: 45px;
  @include control-btn-style();
  cursor: pointer;
  transition: var(--stand-trans);
  
  &:active{
    transform: translateY(-3px);
  }

  i{
    font-size: 1.2rem;
    color: var(--color-secondary);
    pointer-events: none;
  }
}


// main title
.section-title{
  text-align: center;
  margin: 3rem 4rem;
  
  h2{
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
   
    span{
      color: var(--color-orange);
    }
    .bg-text{
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey5);
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.8rem;
      opacity: 75%;
      transition: var(--std-trans);
      transform: translate(-50%, -50%);
    }
  }
}


// main button
.main-btn{
  border-radius: 30px;
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
  position: relative;
  border: 1px solid var(--color-orange);
  display: flex;
  align-items: center;
  overflow: hidden;
  .btn-text{
    font-family: var(--font-caption);
    padding: 0 2rem;
  }
  .btn-icon{
    background-color: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: var(--stand-trans);
    z-index: -1;
  }
  &:hover{
    &::before{
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0%);
    }
  }
}