// File: _components.scss

/* Components: contains anything reusable such as buttons, navbars, cards etc. */

// Page control/toggle buttons
.control-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7rem;
  padding: 1rem;
  width: 50px;
  height: 50px;
  @include control-btn-style();
  cursor: pointer;

  i{
    font-size: 1.2rem;
    color: var(--color-orange);
    pointer-events: none;
  }

  @include control-side() {
    margin: .7rem 0;
  }
}

.active-control{
  box-shadow: inset 4px 8px 8px var(--color-shadow),
              inset -4px -8px 8px var(--color-light);
  transition: var(--stand-trans);

  i{
    color: var(--color-orange);
  }
}


// Dark/Light Mode toggle button
.btn-toggle-theme{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  right: 3%;
  width: 45px;
  height: 45px;
  @include control-btn-style();
  cursor: pointer;
  transition: var(--stand-trans);
  
  &:active{
    transform: translateY(-3px);
  }

  i{
    font-size: 1.2rem;
    color: var(--color-secondary);
    pointer-events: none;
  }
}


// main title
.section-title{
  text-align: center;
  margin: 3rem 4rem;
  
  h2{
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
   
    span{
      color: var(--color-orange);
    }
    .bg-text{
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey5);
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.8rem;
      opacity: 75%;
      transition: var(--std-trans);
      transform: translate(-50%, -50%);
    }
  }
}