// File: _components.scss

/* Components: contains anything reusable such as buttons, navbars, cards etc. */

p{
    padding-bottom: 2rem;
}


// home section parts
.left-home{
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  .h-shape{
    display: none;
  }

  .image{
    
    img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}

.right-home{
  background-color: var(--color-primary);
  padding: 2rem 1rem 0;
  width: 90%;
  margin: 0 auto;
  transform: translateY(-130px);
  border-radius: 20px;
  @include shadow-effect(in, 3px);
  .message{
    line-height: 2.3rem;
    padding-bottom: 2rem;
    .name, .prof{
      color: var(--color-accent);
      text-transform: uppercase;
    }
  }
  
  p{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
}


// about-highlights
.left-about{
  span{
    color: var(--color-accent);
    font-weight: 600
    
  }
}

// about-items
.about-item{
  @include shadow-effect(out, 3px);
  margin: .7rem 2rem;
  .abt-text{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    .large-text{
      font-size: 2rem;
      font-weight: 700;
      color: var(--color-accent);
      padding-bottom: 1rem;
    }
    .small-text{
      padding-left: 3rem;
      padding-bottom: 0;
      position: relative;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: var(--color-ptos5);
      letter-spacing: 2px;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 15px;
        width: 2rem;
        height: 2px;
        background-color: var(--color-accent);
      }
    }
  }
}


// skill indicator

// timeline item
.timeline-item{
  position: relative;
  padding: .2rem .5rem .5rem 3rem;
  @include shadow-effect(out, 2px);
  .tl-icon{
    position: absolute;
    left: -27px;
    top: 0;
    background-color: var(--color-accent);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 1.3rem;
    }
  }
  .tl-duration{
    padding: .2rem .6rem;
    background-color: var(--color-ptos2);
    border-radius: 15px;
    display: inline-block;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
    transform: translateY(5px) translateX(-6px);
  }
  h5{
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    span{
      color: var(--color-ptos5);
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
  p{
    padding: 0 0 .5rem;
    color: var(--color-ptos4);
    font-size: 1rem;
    i{
      color: var(--color-secondary);
      &:hover{
        color: var(--color-accent);
      }
    }
  }
}


// porfolio/blog card

.card{
  position: relative;
  width: 100%;
  height: 350px;
  margin: 2rem 0 2rem;
    
  .card-image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    @include shadow-effect(out, 2px);   
  }

  .card-text{
      position: absolute;
      bottom: 0;
      background:var(--color-ocu-back);
      h2{
          font-size: 1.8rem;
          color: var(--color-accent);
          padding: .5rem 1rem;
          padding-left: 1rem;
          padding-bottom: .5rem;
          text-align: start;
      }
      p{
        opacity: 1;
        color: var(--color-secondary);
        margin: 0 .5rem;
        padding-bottom: .8rem;
        font-size: 0.9rem;
      }
      
  }

  .card-icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    margin: .5rem;
    top:0;
    right: 0;
    
    i{
      height: 30px;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      margin: .5rem;
      
      color: var(--color-primary);
      @include shadow-effect (out,1px);
      background-color: var(--color-accent);
    }
  }
}



// contact section

.contact-content-con{
  display: flex;
  flex-direction: column;
  padding: 0 .5rem 11vh .5rem;
  
  .left-contact{
    flex: 2;
    h2{
      margin-top: 1rem;
      text-transform: uppercase;
      text-align: center;
      }
    p{
      margin: 1rem 0;
      line-height: 1.5rem;
    }
    .contact-info{
      padding: 1rem;
      @include shadow-effect(in, 2px);
      background-color: var(--color-ptos1);
      .contact-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
          margin: .3rem 0 ;
          padding: 0 ;
          text-align: end;
        }
        .flags{
          display: flex;
          justify-content: space-evenly;
          gap: 8px;
          .split-flag{
            display: flex;
            align-items: center;
            .flag-icon-us{
              position: absolute;
              clip-path: polygon(100% 0, 0 0, 0 100%);
            }
          
            .flag-icon-gb{
              position: absolute;
              clip-path: polygon(100% 0, 100% 100%, 0 100%);
            }
          }
        }
        .icon{
          display: grid;
          grid-template-columns: 40px 1fr;
          i{
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: var(--color-accent);
          }
        }
      }
    }
    .contact-icon{
      
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      a{
        @include shadow-effect(3px);
        display: flex;
        align-items: center;
        color: var(--color-accent);
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 1rem;
        transition: var(--stand-trans);
        &:hover{
          background-color: var(--color-secondary);
          i{
            color: var(--color-primary);
          }
        }
        i{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }
      }
    }
  }

  

  .split-flag{
    position: relative;
    height: 33.59px;
    width: 23.45px;
    .flag-icon-us{
      position: absolute;
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  
    .flag-icon-gb{
      position: absolute;
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
  }


  .right-contact{
    flex: 3;
    margin: 2.5rem 0;
   
    .input-control{
      margin: 1.5rem 0;
      input, textarea{
        @include shadow-effect(in, 2px);
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-ptos2);
        width: 100%;
        color: var(--color-white);
        resize: none;

      }
    }
    .i-c-2{
      flex-direction: column;
        :last-child{
            margin-left: 0;
            margin-top: 1.5rem;
        }
    }
    .submit-btn{
      display: flex;
      justify-content: flex-end;
    }
  }
}


// Page control/toggle buttons
.control-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7rem;
  padding: 1rem;
  width: 50px;
  height: 50px;
  @include shadow-effect();
  cursor: pointer;

  i{
    font-size: 1.2rem;
    color: var(--color-accent);
    pointer-events: none;
  }

  @include control-side() {
    margin: .7rem 0;
  }
}

.active-control{
  @include shadow-effect(in, 2px);
  transition: var(--stand-trans);
  background-color: var(--color-accent);
  i{
    color: var(--color-primary);
  }
}


// Dark/Light Mode toggle button
.btn-toggle-theme{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  right: 3%;
  width: 45px;
  height: 45px;
  @include shadow-effect();
  cursor: pointer;
  transition: var(--stand-trans);
  
  &:active{
    transform: translateY(-3px);
  }

  i{
    font-size: 1.2rem;
    color: var(--color-secondary);
    pointer-events: none;
  }
}


// main title
.section-title{
  text-align: center;
  margin: 3rem 4rem;
  
  h1{
    position: relative;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
   
    span{
      color: var(--color-accent);
    }
    .bg-text{
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-ptos4);
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 4rem;
      opacity: 55%;
      transition: var(--std-trans);
      transform: translate(-50%, -50%);
    }
  }
}


// main button

.main-btn{
  @include shadow-effect(out, 2px);
  border-radius: 30px;
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  .btn-text{
    font-family: var(--font-caption);
    padding: 0 2rem;
    color: var(--color-secondary);
  }
  .btn-icon{
    background-color: var(--color-accent);
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
}