// File: _layout.scss

/* Layout: contains all the CSS that handles the layout, such as the container and any grid systems. */


// sections 
section{
    display: none;
    min-height: 90vh;
    width: 100%;
    padding: 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-primary);
}
.active-section{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
      0%{
        transform: translateY(-100%) scaleY(0);
      }

      100%{
        transform: translateY(0) scaleY(1);
      }
    }
  }
  

 // porfolio-Projects Grid
.portfolios{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    grid-gap: 2rem;
    margin-top: 3rem;
    /* @include for-desktop {
      grid-template-columns: repeat(3, 1fr);
    
    }  */
}


// control buttons container 
.page-controls{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    z-index: 10;
    padding: .5rem;
    top: auto;   
    bottom: 0.5%;
    left: 50%;
    height: 10vh;
    width: 100%;
    transform: translateX(-50%);
    @include control-side() {
        flex-direction: column;
        justify-content:center;
        top: 50%;
        right: 3%;
        left: auto;
        width: auto;
        box-shadow: 0;
        transform: translateY(-50%);
    }
}