// File: _layout.scss

/* Layout: contains all the CSS that handles the layout, such as the container and any grid systems. */


// sections 
section{
    display: none;
    min-height: 90vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.active-section{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
      0%{
        transform: translateY(-100%) scaleY(0);
      }

      100%{
        transform: translateY(0) scaleY(1);
      }
    }
  }
  
// home section
.home-content{
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  @include for-tablet-landscape() {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  @include for-desktop() {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

// about section


.about-container{
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem 0 5rem;
  .right-about{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .left-about{
    padding: 0 1rem;
  }
 
  @include for-tablet-landscape() {
    grid-template-columns: repeat(2, 1fr);
    .right-about{
      grid-template-columns: 1fr;
    }
  }
  @include for-desktop() {
    grid-template-columns: repeat(2, 1fr);
    .right-about{
      grid-template-columns: 1fr;
    }
  }
}

.timeline{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 0 2rem;
  padding-bottom: 6rem;
  @include for-tablet-landscape() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-desktop() {
    grid-template-columns: repeat(2, 1fr);
  }
}

// All sections
@include for-tablet-portait() {
  .about, .portfolio, .blog, .contact{
    padding: 0 7rem;
  }
  .home{
    padding-right: 7rem;
  }
}

@include for-tablet-landscape() {
  .about, .portfolio, .blog, .contact{
    padding: 0 7rem;
  }
}

@include for-desktop() {
  .about, .portfolio, .blog, .contact{
    padding: 0 12rem;
  }
}

 // porfolio-Projects Grid
.project-container, .blogs-grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: .5rem 1.5rem 6rem;
  @include for-tablet-landscape() {
    margin: 5rem 1.5rem 6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  @include for-desktop() {
    margin: 5rem 1.5rem 6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}


// cv-button
.cv-btn{
  display: flex;
  justify-content: center;
}

// control buttons container 
.page-controls{
  background-color: var(--color-primary);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    z-index: 10;
    padding: .5rem;
    top: auto;   
    bottom: 0;
    left: 50%;
    height: 10vh;
    width: 100%;
    transform: translateX(-50%);
    @include control-side() {
        flex-direction: column;
        justify-content:center;
        top: 50%;
        right: 3%;
        left: auto;
        width: auto;
        box-shadow: 0;
        transform: translateY(-50%);
    }
}