<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Blog Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <section class="section-1 home active-section"></section>
        <section class="section-2 about"></section>
        <section class="section-3 portfolio"></section>
        <section class="section-4 blog"></section>
        <section class="section-5 contact"></section>
    </main>
       
        
    <div class="page-controls">
        <div class="control-btn control-1 active-control">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="control-btn control-2">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="control-btn control-3">
            <i class="fa-solid fa-briefcase"></i>
        </div>
        <div class="control-btn control-4">
            <i class="fa-solid fa-newspaper"></i>
        </div>
        <div class="control-btn control-5">
            <i class="fa-solid fa-envelope"></i>
        </div>
    </div>

    <div class="btn-toggle-theme"></div>
</body>
</html>