<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Blog Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        
    </header>
    <main>
        <section class="section-1 home active-section"></section>
        <section class="section-2 about">
            <div class="section-title">
                <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
            </div>
        </section>
        <section class="section-3 portfolio">
            <div class="section-title">
                <h2>port<span>folio</span><span class="bg-text">my projects</span></h2>
            </div>
            <p> 
                This is the  text for the introduction of the portfolioo section.
                Here should be some information about the most important
                things and how my portfolio is structured.
            </p>
            <div class="project-container">
                <div class="project-item">
                    <div class="project-image">
                        <img id="project-img-1" alt="project image">
                    </div>
                    <div class="hover-items">
                        <h3>Project Name</h3>
                        <p>
                            This is a short project discription
                            This is a short project discription
                            This is a short project discription
                            This is a short project discription
                        </p>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <section class="section-4 blog">
            <div class="section-title">
                <h2>Blog <span>Posts</span><span class="bg-text">my Articles</span></h2>
            </div>
        </section>
        <section class="section-5 contact">
            <div class="section-title">
                <h2>Contact <span>me</span><span class="bg-text">get in touch</span></h2>
            </div>
        </section>
    </main>
       
        
    <div class="page-controls">
        <div class="control-btn control-1 active-control">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="control-btn control-2">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="control-btn control-3">
            <i class="fa-solid fa-briefcase"></i>
        </div>
        <div class="control-btn control-4">
            <i class="fa-solid fa-newspaper"></i>
        </div>
        <div class="control-btn control-5">
            <i class="fa-solid fa-envelope"></i>
        </div>
    </div>

    <div class="btn-toggle-theme">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </div>
</body>
</html>